{{! Esto es lo que el index.hbs dentro de la carpeta LAYOUT va a renderizar }}
<br />
<h1 class='title'>Lista de productos</h1>
{{#if data.length}}
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<br />
				<div class='table-responsive'>
					<table class='table table-striped table-bordered table-secondary'>
						<thead class='thead-dark'>
							<tr>
								<th scope='col'>Id</th>
								<th scope='col'>Name</th>
								<th scope='col'>Price</th>
								<th scope='col'>Image</th>
							</tr>
						</thead>
						<tbody>
							{{#each data}}
								<tr>
									<th class='th-id' scope='row'>{{id}}</th>
									<td>{{title}}</td>
									<td>${{price}}</td>
									<td>
										<img src={{thumbnail}} width='50' height='50' alt={{title}} />
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
				<button
					class='btn btn-primary btn-lg btn-block login-button'
					type='button'
					onClick="location.href='http://localhost:8080/api/producto/nuevo'"
				>
					Registrar nuevo producto
				</button>
			</div>
		</div>
	</div>
{{else}}
	<h1 class='title'>Empty File!</h1>
	<img class='img-err' src='http://localhost:8080/emptyFile.png' alt='Empty-File' />
	<button
		class='btn btn-primary btn-lg btn-block login-button'
		type='button'
		onClick="location.href='http://localhost:8080/api/producto/nuevo'"
	>
		Registrar nuevo producto
	</button>
{{/if}}